body{
background: #59ACAC;
}

.tituloseccion {position: relative; margin: 25px auto 50px; 
  background-color: #ccc;
 height: 1px; text-align: center; z-index: 1; width: 80%}
.tituloseccion span {position: relative;font-size: 28px;
 background-color: #ccc; z-index: 5; padding: 0 15px; 
 top: -10px;}
.cajaproducto {margin: 0 0 50px 0}
.cajaproducto h3{text-align: center;}

#principal {background: url(../imagenes/glass.jpg) repeat rgb(223, 223, 243); padding: 120px 0; color: #0080C0;margin-bottom:50px;border-bottom: 0px solid #ccc; position: relative;left: 80px; width: 1200px;}
#pie {background-color: #444; color: #f1f1f1; margin-top: 50px; border-top: 1px solid #e7e7e7; font-size: 13px;}
#pie h5 {border-bottom: 1px dashed #777; padding-bottom: 3px}
#subpie {border-top: 1px solid #ccc; margin-top: 5px; padding-top: 5px; font-size: 13px;}


.boxdestacada { 
	background-color:#8080C0 !important;
}

.texto-destacado{margin-top: 30px;}

.boxsombra 
{
  position: relative;
 background: #408080;

 -moz-border-radius: 8px; /*Compatible con Firefox */
  border-radius: 8px ;
  
  padding: 20px; 
  color: rgba(0,0,0, .8); 
  text-shadow: 2 1px 0 #fff;
  line-height: 1.5;/*altura de cada linea entre el texto sieve para el interlineado*/
   margin: 0 auto; /*margen de 0 quiere decir que los 
   					margenes inferior y superior son de 0
   					y los margenes laterales toman un valor automatico
   					por lo que el navegador los centrara horizontalmente*/

  
}
/*Los pseudo-elementos :before y :after
 se utilizan en combinación con la propiedad content de CSS para añadir contenidos antes 
 o después del contenido original de un elemento.*/
.boxsombra:before, .boxsombra:after 
{
  z-index: -1; /* crea una capa nueva que tiene un nivel o una altura diferente*/
  position: absolute; 
  content: "";/*Genera contenido de forma dinámica*/


/*Pocicionamiento de la sombra*/
  bottom: 15px; /*Indica el desplazamiento entre el borde inferior del elemento y la parte inferior de su elementocontenedor*/
  left: 10px; /*Indica el desplazamiento entre el borde izquierdo del elemento y la parte izquierda de su elementocontenedor*/
  width: 50%;  /*Establece la anchura de los elementos de bloque*/
  top: 80%; /*Indica el desplazamiento entre el borde superior del elemento y la parte superior de su elemento contenedor*/
  max-width:300px;/*Limita el ancho máxima de los elementos de bloque*/
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);/*sombra de la caja*/   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);

  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.boxsombra:after 
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;/*Indica el desplazamiento entre el borde derecho del elemento y la parte derecha de su elemento contenedor*/
  left: auto; /*Indica el desplazamiento entre el borde izquierdo delelemento y la parte izquierda de su elemento contenedor*/
}


.sombra 
{
  
position: relative;
width: 380px;
height: 60px;
padding: 3px;
border-radius: 8px ;
background: #e6e3f0;
box-shadow: 5px 5px 10px #888888;
  
}

.stylo {

  position: relative;
  width: 380px;
  height: 60px;
  padding: 3px;
  border-radius: 0px 10px 10px 0px;
  background-color: #4040FF;
  box-shadow: 5px 5px 10px #888; 
  margin-bottom: 40px;
  color: #fff;

}
